*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.groceryCard{
    height: 360px;
    width: 200px;
    display: flex;
    /* align-items: start; */
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid green; */
    
    
}
.imgCard{
    height: 170px;
    width: 200px;
    /* border: 1px solid red; */
}
.groceryCard h4{
    color: rgb(119, 88, 14);
}
.groceryCard h5{
    color: darkblue;
}
button{
    border:none;
    background: rgb(215, 211, 211);
    color:rgb(105, 90, 6);
    border-radius: 5px;
}
button:hover{
    color: goldenrod;
    background: gray;
}