*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.groceryCard{
    height: 360px;
    width: 200px;
    display: flex;
    /* align-items: start; */
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid green; */
    
    
}
.imgCard{
    height: 170px;
    width: 200px;
    /* border: 1px solid red; */
}
.clothesCard h4{
    color: rgb(119, 88, 14);
}
.clothesCard h5{
    color: green;
}