*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.clothesCard{
    height: 300px;
    width: 300px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    
}
.imgCard{
    height: 170px;
    width: 100%;
}
.clothesCard h4{
    color: rgb(119, 88, 14);
}
.clothesCard h5{
    color: green;
}