*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.clothesCard{
    height: 300px;
    width: 300px;
    border: 1px solid rgb(235, 177, 177);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #94e9e9;
    border-radius: 20px;
    
}
.imgCard{
    height: 170px;
    width: 170px;
    border-radius: 20px;
}
.clothesCard h4{
    color: rgb(119, 88, 14);
}
.clothesCard h5{
    color: green;
}