*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.Card{
    margin: 5px;
    height: 270px;
    width: 270px;
    
background-color: aqua;
    border-radius: 20px;
    
    
    
}
.img{
    
    
    height: 170px;
    width: 190px;
}
h3{
    color: goldenrod;
    font-weight: lighter;
}