*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.Card{
    margin: 5px;
    height: 270px;
    width: 270px;
    border: 1px solid greenyellow;
    color: black;
    
    
}
.img{
    border: 1px solid black;
    border-radius: 30%;
    height: 170px;
    width: 190px;
}